@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: "IBM Plex Sans Condensed", sans-serif; */

:root{
    --white: #FFFFFF;
    --greyLight: #8f8f8f;
    --grey: #616161;
    --veryDarkGrey: #333333;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: var(--veryDarkGrey);
    font-size: 16px;
    background-color: var(--white);
}

/* ---------------Header section */
.header{
    margin-bottom: 10px;
}
.header__nav{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header__logo{
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.header__logo img{
    margin-top: 20px;
    max-width: 100%;
    width: 220px;
}

.nav-item{
    margin-right: 5px;
}
.nav-item a{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--grey);
    text-decoration: none;
    margin-left: 10px;
}
.nav-item a:hover{
    color: var(--greyLight);
}


.dropdown-item:hover{
    background-color: var(--white);
    width: 50px;
}
.navbar-toggler{
    
    border: none;
}

/*--------------- Container-hero---*/

.container__hero{
    margin-top: 20px ;
    max-width: 100%;
    container-name: contairner__hero;
    container-type: inline-size;
}

.carousel-item img{
    margin: auto;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    
}


/*-------- container ends*/




/*--------- seccion arquitectura*/
    .gallery__container{
        width: 90%;
        max-width: 1100px;
        margin: 20px auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 10px;
    }

    .gallery__container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*--------------- seccion arquitectura mediaqueris*/

/*---------------- arquitectura detail*/
.arqDetail__container{
    container-name: arqDetail;
    container-type: inline-size;
    padding: 20px;
}
.arqDetail__img{
    max-width: 1200px;
    margin: auto;
}
.arqDetail__img img{
    margin: auto;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
}
.arqDetail__data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    color: var(--grey);
    max-width: 1200px;
}
.arqDetail__data{
    max-width: 550px;
}
.data__description h2{
    font-size: 30px;
}
.data__description h2 span{
    font-size: 20px;
}
.data__description h4{
    font-size: 20px;
}
.data__description{
    font-size: 16px;
}
.data__info-container ul{
    margin: 0;
    padding: 0;
}
.data__info{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #bbbbbb;
}
.data__info summary{
    font-size: 16px;
    font-weight: 500;
    color: var(--grey);
}
.data__info details li{
    list-style: none;
    text-align: start;
    padding: 6px;
    font-size: 14px;
}
.data__info details h6{
    font-size: 15px;
}
.data__info .info-detail h4{
    font-size: 16px;
    font-weight: 500;
    color: var(--grey);
    
}
.data__info .info-detail h4 span{
    font-size: 14px;
    color: var(--greyLight);
    margin-left: 20px;
}
.data__info .info-detail .data__info-detail3{
    margin-left: 60px;
}

.arqDatail__data-img{
    
    max-height: 500px;
    overflow: hidden;
}
.data__img{
    max-width: 100%;
    width: 400px;
    margin: auto;
}




/*------------ arqDetail mediaqueris*/
@container arqDetail (min-width:720px){
    .arqDetail__data-container{
        margin-top: 20px;
        padding: 20px;
        flex-direction: row ;
        justify-content: space-around;
    }

    .data__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        
    }
    .data__info span{
        padding-left: 10px;
        font-size: 14px;
        text-align: center;
    }
    
}

/*------------ seccion nosotros*/
.nosotros__hero{
    container-name: nosotros;
    container-type: inline-size;
}
.nosotros__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}
.profile__data-container{
    max-width: 600px;
    width: 400px;
    height: auto;
    margin-top: 10px;
   
}

.profile__img-container{
    max-height: 500px;
    overflow: hidden;
    
}
.nosotros__img{
    max-width: 100%;
    width: 350px;
}

.profile__description{
    margin: 10px;
    padding: 20px;
}
.profile__description h1{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    word-spacing: 2;
    line-height: 1.5;
}
.profile__data-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile__data-members .profile__member{
    margin-top: 20px;
    list-style: none;
    padding: 2px;
}
.profile__member h3{
    color: var(--grey);
    font-size: 16px;
    font-weight: 700;
    word-spacing: 2;
    margin-bottom: 0;
}
.profile__member p{
    padding: 0;
    margin: 0;
    color: var(--greyLight);
}

/*------------- section nosotros queries*/
@container nosotros (min-width:720px){
    .nosotros__wrapper{
        flex-direction: row;
        padding: 20px;
    }
    .profile__img-container{
        margin-right: 20px;
    }
    .nosotros__img{
        width: 320px;
    }
    .profile__data-container{
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .profile__description h1{
        width: 400px;
    }
    
    
}

/*------- seccion nosotros ends*/

/*------- seccion contacto*/
.formulario{
    color: var(--grey);
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: formulario;
    container-type: inline-size ;
}

.formulario h2{
    font-size: 1.5em;
    font-weight: 250;
    padding: 20px 0;
}

.formulario__contacto-container{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 12px;

}
.input__container{
    display: grid;
    place-content: center;
    padding: 6px 20px;
}
.input__container input, textarea{
    width: 100%;
    padding: 6px 12px;
    margin: 20px auto;
    border: none;
    border-bottom: 0.5px solid rgb(172, 172, 172);
    color: var(--greyLight);   
    font-family: "IBM Plex Sans Condensed", sans-serif;
    outline: none;
}

.formulario button{
    background-color: white;
    color: var(--grey);
    max-width: 100%;
    width: 60px;
    height: 30px;
    margin: auto;
    border: 1px solid var(--greyLight);
    border-radius: 2px;
}

/*------------- contacto queries*/

@container formulario (min-width: 600px){
    .formulario__contacto-container{
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr)) ;
    }
    
    .input__container:last-child{
        grid-column: span 2 ;
    }

    textarea{
        min-width: 100%;
        width: 550px;
        resize: vertical;
        min-height: 100px;
        max-height: 200px;
    }
    
}


/*---------- footer*/
.footer{
    container-name: footer;
    container-type: inline-size;
}
.footer__conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
   
}
.footer__logo{
    text-align: start;
    align-items: start;
    max-width: 100%;
    width: 60px;
}

.footer__nav{
    text-align: center;
}

.footer__nav-list{
    display: inline-flex;
    justify-content: space-between;
}

.footer__nav-list a{
    text-decoration: none;
    color: var(--black);
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}
.footer__nav-list a:hover{
    color: var(--greyLight);
}

/*---------- footer media queries*/

@container footer (min-width:600px){
    .footer__conatiner{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 0 40px;
        margin-top: 20px;
    }
    .footer__logo-container{
        padding-left: 10px;
    }
    .footer__nav{
        padding-right: 10px;
    }
}