@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: "IBM Plex Sans Condensed", sans-serif; */

:root{
    --white: #FFFFFF;
    --greyLight: #cfcfcf56;
    --grey: #616161;
    --veryDarkGrey: #333333;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: var(--veryDarkGrey);
    font-size: 16px;
}

/* ---------------Header section */
.header__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header__logo{
    max-width: 100%;
    width: 200px;
    padding-left: 15px;
}
.nav-item a{
    color: var(--grey);
    text-decoration: none;
}
.nav-item a:hover{
    color: var(--black);
}

.navbar-toggler{
    border: none;
}

.container__hero{
    margin: 20px 0 0 0;
    max-width: 100%;
}

/*-------- container ends*/

/*---------- footer*/
.footer{
    container-name: footer;
    container-type: inline-size;
}
.footer__conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer__logo{
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 70px;
    margin: 10px 0 10px 0;    
}
.footer__logo-container{
    margin: 20px;
}
.footer__nav{
    text-align: center;
}

.footer__nav-list{
    width: 200px;
    display: inline-flex;
    justify-content: space-between;
}

.footer__nav-list a{
    text-decoration: none;
    color: var(--grey);
    width: 50px;
    height: 50px;
    font-size: 28px;
    padding: 12px;
}
.footer__nav-list a:hover{
    color: var(--black);
}

/*---------- footer media queries*/

@container footer (min-width:600px){
    .footer__conatiner{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 20px;
    }
    .footer__logo-container{
        padding-left: 60px;
    }
    .footer__nav{
        padding-right: 60px;
    }
}